<header>
    <div class="container">
        <div class="row">
        <% if notice.present? %>
            <p class="alert alert-info"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
            <p class="alert alert-danger"><%= alert %></p>
        <% end %>
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra vel velit ut tempor.</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">BUTTON TEXT HERE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5"></div>
        </div>
    </div>
</header>

<section id="homecategories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <%= render 'categories/listall' %>

            </div>
        </div>
    </div>
</section>
