@import "bootstrap-sprockets";
@import "bootstrap";


/* font imports */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i');


/* VARIABLES */
$bluegrey900: #263238;
$bootstrap-green: #5cb85c;
$bootstrap-dkgreen: #449d44;
$amberA200: #FFD740;
$footerminheight: 125px;


.heading-font {
  /*font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';*/
  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
  /*font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';*/
}
.alt-font {
  /*font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';*/
  text-transform: uppercase;
  letter-spacing: 2px;
}
html,
body {
  position: absolute;
  min-height: 100%;
  width: 100%;
}
body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  padding-bottom: $footerminheight;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #fdcc52;
}
a:hover,
a:focus {
  color:$amberA200;
}
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}
hr.hr-double {
  border-top: 4px double rgba(34, 34, 34, 0.1);
  margin: 20px 0 40px;
  min-width: 100%;
}
hr.light {
  border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';*/
  font-weight: 200;
  letter-spacing: 1px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}



/* NAVBAR */
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  /*font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';*/
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-brand {
  /*font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';*/
  font-weight: 200;
  letter-spacing: 1px;
  color: white;
  font-size:20px;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: $amberA200;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: white;
  padding: 8px 10px;
  background-color:$bootstrap-green;
  border:none;
}
.navbar-default .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #fdcc52;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #fdcc52 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (max-width: 768px) {
  .navbar-default {
    background-color: $bluegrey900;
  }
  .navbar-default .nav > li > a {
    color:white;
  }
  .navbar-default .navbar-nav > li > a.btn-success:hover,
  .navbar-default .navbar-nav > li > a.btn-success:focus {
    background-color:$bootstrap-dkgreen;
    color:white;
  }
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default ul.nav {
    padding-top:6px;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.8);
    padding-top:8px;
    padding-bottom:8px;
  }
  .navbar-default .nav > li > a.btn-success:hover,
  .navbar-default .nav > li > a.btn-success:focus:hover {
    color: white;
    background-color:$bootstrap-dkgreen;
  }
  .navbar-default.affix {
    background-color: $bluegrey900;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: white;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #fdcc52;
  }
/*  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: white;
  }*/
  /*.navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: white;
  }*/
}



/* INDEX HEADER */
header {
  background: url("/assets/woman-with-ipad.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
}
header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
}
header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
}
header .device-container {
  max-width: 300px;
  margin: 0 auto 100px;
}
header .device-container .screen img {
  border-radius: 3px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner h1 {
    font-size: 35px;
  }
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
}
@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
}



/* INDEX CONTENT */
section#homesearch {
  padding: 50px 0;
}
section#homecategories {
  background: #A1FFCE; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ACE8AC , #FAFFD1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ACE8AC , #FAFFD1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}
section#homecategories h2 {
  text-align: center;
  margin: 25px 0 50px;
}
section#homecategories h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
section#homecategories h4:before {
    display: block;
    content: '';
    width: 75px;
    height: 3px;
    background-color: $amberA200;
    position: relative;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
  }
section#homecategories a {
  text-decoration: none;
}
.homecatbox {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  padding: 3%;
  color: $bootstrap-green;
}
.homecatbox:hover {
  color: white;
  background-color: $bootstrap-dkgreen;
}
@media (min-width: 768px) {
  .homecatbox {
    margin: 0% 3% 3%;
    font-size: 24px;
    min-height: 145px;
    min-width: 310px;
  }
}



/* MAIN PAGES */
section {
  padding: 100px 0;
}
@media (min-width: 768px) {
  section#categories,
  section#resources {
    padding-top: 170px;
  }
}
section h1 {
  margin: 30px 0 50px;
}
section h2 {
  font-size: 46px;
}
section#categories h2,
section#resources h2 {
  font-size:26px;
  margin: 0 0 20px;
}
section.bkgndcover {
  background-image: url('/assets/women-talking.jpg');
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section.bkgndcover .container .row .col-md-10 {
  background-color:white;
}
@media (min-width:768px) {
  section.bkgndcover .container .row .col-md-10 {
    padding: 20px 100px;
  }
}
@media (max-width: 768px) {
  section.bkgndcover {
    background-image:none;
  }
}
section#categories h6 a.breadcrumb,
section#resources h6 a.breadcrumb {
  padding: 0px;
  background-color: white;
  font-size: 11px;
}
section#categories .panel-default > .panel-heading {
  background-color: $bootstrap-green;
  color: white;
}
section#categories .panel-title {
  font-size: 18px;
}
section#categories .panel-heading:hover {
  background-color: $bootstrap-dkgreen;
}
section#categories .panel-heading h4 a:hover,
section#categories .panel-heading h4 a:active,
section#categories .panel-heading h4 a:focus {
  color: white;
  text-decoration: none;
}
i.fa {
  margin-right: 8px;
}
section#categories .list-group-item,
section#resources .list-group-item {
  border-top: 1px solid #ddd;
  border-right: none;
  border-bottom: none;
  border-left: none;
  padding: 20px 0;
  font-size: 15px;
  line-height: 150%;
}
section#categories .list-group-item:first-child,
section#resources .list-group-item:first-child {
  border-top: none;
}
section#categories .list-group-item a {
  color: #333;
  font-size: 18px;
}
section#categories .list-group-item a:hover {
  color: $amberA200;
  text-decoration: none;
}
section#resources textarea#comment_comment_text {
  height: 150px;
  margin-bottom: 20px;
}
.newresbtn {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .newresbtn {
    float:right;
  }
}
@media (max-width: 992px) {
  .newresbtn {
    margin:0 0 20px;
  }
}


/* FOOTER */
footer {
  background-color: $bluegrey900;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  position:absolute;
  bottom:0;
  width:100%;
  min-height: $footerminheight;
}
@media (max-width: 768px) {
  footer {
    padding:16px 0;
  }
}
footer p {
  font-size: 12px;
  margin: 10px;
}
footer img#algolia {
  width:60px;
}
footer ul {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}




.alert {
  text-align:center;
}
header .container .row .alert {
  margin-top: 90px;
}
.bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);
}
.text-primary {
  color: #fdcc52;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background-color: #fdcc52;
  border-color: #fdcc52;
}
.btn {
  /*font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';*/
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: $bluegrey900;
}
::selection {
  color: white;
  text-shadow: none;
  background: $bluegrey900;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: $bluegrey900;
}
