<footer>
    <div class="container">
        <p>&copy; 2016 Growthtalk.</p>
        <!--
        <ul class="list-inline">
            <li>
                <a href="#">Privacy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
        -->
        <p>Search powered by <img src='/assets/algolia-dark.png' id='algolia'/></p>
    </div>
</footer>
